<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMS Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Employee Management System</h1>
    <p>Please sign in to continue.</p>

    <a class="btn" href="/oauth2/authorization/google">
        <img alt="G" src="https://www.google.com/favicon.ico" style="height:16px;vertical-align:middle;margin-right:8px;">
        Sign in with Google
    </a>

    <p style="margin-top: 16px;">
        <a href="/" class="link">Back to Home</a>
    </p>
</div>
</body>
</html>
